<p> Todo listo para trabajar con WebSocket </p>

<script src="/socket.io/socket.io.js"></script><!-- Incorporamos Socket.IO - la capacidad de establecer conexiones con socket -->
<script src="/js/index.js"></script><!-- Incorporamos el archivo de JavaScript que contiene la lógica de cliente para WebSocket -->