<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>Lista de Productos</h1>
    <div id="product-list"> </div>
</body>
</html>

<script src="/socket.io/socket.io.js"></script><!-- Incorporamos Socket.IO - la capacidad de establecer conexiones con socket -->
<script src="/js/index.js"></script><!-- Incorporamos el archivo de JavaScript que contiene la lógica de cliente para WebSocket -->